@{
	ViewBag.Title = "Index";
}

<h2>Device Registrations</h2>

<table>
	<tr>
		<th>Device</th>
		<th></th>
	</tr>
</table>

<br />

@Html.ActionLink("Register New Device", "Register", null, new { @class = "btn btn-success btn-default" })
