<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable4-net4+sl5+win8+wp8+wpa81+monoandroid+monotouch" userInstalled="true" />
  <package id="Portable.BouncyCastle" version="1.7.0.1" targetFramework="portable4-net4+sl5+win8+wp8+wpa81+monoandroid+monotouch" userInstalled="true" />
</packages>